<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Random Profile by Hasan Sezer Taşan</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="flex items-start justify-center h-full bg-gray-300 antialiased">
            <div class="container my-20 flex items-center justify-center w-full max-w-full">
                <div class="rounded-lg overflow-hidden border border-neutral-200/60 bg-white text-neutral-700 shadow-sm w-[580px]">
                    <div class="relative pb-6 p-7">
                        <div class="flex items-center justify-between pr-2 text-neutral-500">
                            <a href="https://github.com/hasansezertasan/random-profile"
                               target="_blank"
                               class="text-sm hover:underline">Code</a>
                            <a href="https://github.com/hasansezertasan"
                               target="_blank"
                               class="text-sm hover:underline">Author</a>
                        </div>
                    </div>
                    <div class="relative">
                        <img src="{{ data.profile_picture }}"
                             class="w-full h-auto"
                             height="200"
                             width="200"
                             alt="Profile Picture">
                    </div>
                    <div class="p-7">
                        <h2 class="mb-2 text-lg font-bold leading-none tracking-tight">{{ data.full_name }}</h2>
                        <p class="mb-5 text-neutral-500">{{ data.biography }}</p>
                    </div>
                    <div class="inline-block min-w-full overflow-x-auto">
                        <table class="table-auto min-w-full divide-y divide-neutral-200">
                            <tbody class="divide-y divide-neutral-200">
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">First Name</td>
                                    <td class="px-5 py-4 text-sm whitespace-nowrap">{{ data.first_name }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Last Name</td>
                                    <td class="px-5 py-4 text-sm whitespace-nowrap">{{ data.last_name }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Biography</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.biography }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Username</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.username }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Password</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.password }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">E-mail</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.email }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Address</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.address }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Profession</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.profession }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Birth Date</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.date_of_birth }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Age</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.age }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Interests</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.interests | join(", ") }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Profile Picture Path</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.profile_picture }}</td>
                                </tr>
                                <tr class="text-neutral-800">
                                    <td class="px-5 py-4 text-sm font-medium whitespace-nowrap">Website</td>
                                    <td class="px-5 py-4 text-sm whitespace-wrap">{{ data.website }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="relative pb-6 p-7">
                        <hr>
                    </div>
                    <div class="relative pb-6 p-7">
                        <div class="flex items-center justify-between pr-2 text-neutral-500">
                            <a href="https://github.com/hasansezertasan/random-profile"
                               target="_blank"
                               class="text-sm hover:underline">Code</a>
                            <a href="https://github.com/hasansezertasan"
                               target="_blank"
                               class="text-sm hover:underline">Author</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
